.wrapper
{
    width: 630px;
    margin: 50px auto;
}
.url
{
	width: 358px;
}
.url.empty
{
	border: solid 2px red;
}
#response ul
{
	list-style: none;
}
.errors
{
	color: red;
}
.inline-header
{
    display: inline-block;
}
h4
{
    color: #bbb !important;
}